In [ ]:
!python --version

Python 3.7.13

# 1. Типы данных

## 1.1. int

In [ ]:
# Не пишем int x для объявления целого числа
x = 5

print(x)

5

In [ ]:
print(type(x))

<class 'int'>

In [ ]:
# Больше, Чем int64
y = 2 ** 80

print(y)

1208925819614629174706176

- Динамическая типизация
- Поддерживается длинная арифметика

## 1.2. float

In [ ]:
num = 1.5
print(num)

1.5

In [ ]:
print(type(num))

<class 'float'>

In [ ]:
# Явное приведение типов

num = int(num)

print(num) # Теряем дробную часть вещественного числа
print(type(num))

1
<class 'int'>

In [ ]:
# Неявное приведение типов

num = 5
print(num)
print(type(num))

num = num + 1.0
print(num)
print(type(num))

5
<class 'int'>
6.0
<class 'float'>

## 1.3. Логические тип (bool)

In [ ]:
x = True

print(x)
print(type(x))

True
<class 'bool'>

In [ ]:
x = (12 < 7)

print(x)
print(type(x))

False
<class 'bool'>

In [ ]:
x, y, z = True, False, True

print((x and y) or z)

True

## Пример

In [ ]:
# Задача: найти расстояние между двумя точками в декартовых координатах

x1, x2 = 0, 0
y1 = 3
y2 = 4

distance = ((x2 - x1)**2 + (y2 - y1)**2)**0.5
print(distance)

1.0

О чем не поговорили:
- Комплексные числа
- Объект None

# 2. Коллекции

Sequences:
- Изменяемые (list)
- Неизменяемые (string, tuple)

Sets:
- Изменяемые (set)
- Неизменяемые (frozenset)

Mappings:
- Изменяемые (dict)

## 2.1. list

In [ ]:
empty_list = []
empty_list = list()

names = ['Anna', 'Andrey', 'Alexander', 'Oleg']

user_grades = [
    ('Anna', 8),
    ('Andrey', 7)              
]

In [ ]:
print(len(names))   # Выполняется за константное время

4

In [ ]:
# Индексирование

print(names[1:4:2])    # start, stop, step

['Andrey', 'Oleg']

In [ ]:
names[1:3]

['Andrey', 'Ivan']

In [ ]:
# Изменяемость

names[2] = 'Ivan'
print(names)

['Anna', 'Andrey', 'Ivan', 'Oleg']

In [ ]:
# Добавление элемента в список

names.append('Irina')
print(names)

['Anna', 'Andrey', 'Ivan', 'Oleg', 'Irina']

In [ ]:
# Добавление элемента в список

names.extend(['Kirill', 'Alexey'])
print(names)

['Anna', 'Andrey', 'Ivan', 'Oleg', 'Irina', 'Kirill', 'Alexey']

In [ ]:
[1, 2, 3] + [5, 6]

[1, 2, 3, 5, 6]

In [ ]:
# Циклы - итерируемые объекты:

for name in names:
    print(name)

Anna
Andrey
Ivan
Oleg
['Kirill', 'Alexey']

In [ ]:
# функция enumerate

for i, name in enumerate(names):
    print(i, name)

0 Anna
1 Andrey
2 Ivan
3 Oleg
4 ['Kirill', 'Alexey']

## 2.2. tuple

In [ ]:
empty_tuple = ()
empty_tuple = tuple()

In [ ]:
second_names = ('Ivanov', 'Petrov')

second_names[1] = 'Sidorov'

## 2.3. string

In [ ]:
s1 = 'Привет, '
s2 = 'Мир!'

print(s1 + s2)

Привет, Мир!

In [ ]:
print(s1[0:6:2])

Пие

In [ ]:
print(s1 * 3)

Привет, Привет, Привет,

In [ ]:
# Неизменяемость

s1 = 'Привет, '
print(id(s1))
s1 = s1 + 'Мир!' # Это уже новая строка
print(id(s1))

139872555496928
139872555495808

In [ ]:
# Методы строк

s1 = 'Привет, Приятель'
s2 = '123'

print(s1.lower())
print(s2.isdigit())
print(s1.count('р'))

привет, приятель
True
2

## 2.4. set

In [ ]:
# Для хранения объектов в множестве используется функция хеширования

empty_set = set()

number_set = {1, 2, 3, 3, 4, 5}   # элементы - неизменяемые
print(number_set)

{1, 2, 3, 4, 5}

In [ ]:
print(2 in number_set)

True

In [ ]:
# Добавление элементов

number_set.add(6)
print(number_set)

{1, 2, 3, 4, 5, 6}

In [ ]:
# Удаление элементов

number_set.remove(6)
print(number_set)

{1, 2, 3, 4, 5}

In [ ]:
first_set = {1, 2, 3, 4, 5}
second_set = {4, 5, 6, 7, 8}

print(first_set | second_set)
print(first_set & second_set)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}

In [ ]:
print(first_set - second_set)

{1, 2, 3}

- Неупорядоченный набор уникальных объектов
- Быстрая проверка на вхождения элемента в множество
- Операции над множествами

## 2.5. dict

In [ ]:
empty_dict = {}
empty_dict = dict()

In [ ]:
collections_map = {
    'mutable': ['list', 'set', 'dict'],
    'immutables': ['tuple', 'frozenset']
}

In [ ]:
# Получаем значение по ключу (за константное время)

collections_map['mutable']

['list', 'set', 'dict']

In [ ]:
# Проверка, есть ли ключ в словаре

'mutable' in collections_map

True

In [ ]:
# Изменение словаря

collections_map['something'] = ['turtle']
print(collections_map)

{'mutable': ['list', 'set', 'dict'], 'immutables': ['tuple', 'frozenset'], 'something': ['turtle']}

In [ ]:
# Удаление элемента из словаря

del collections_map['something']
print(collections_map)

{'mutable': ['list', 'set', 'dict'], 'immutables': ['tuple', 'frozenset']}

In [ ]:
for key in collections_map:
    print(key)

mutable
immutables
something

In [ ]:
for items in collections_map.items():
    print(items)

('mutable', ['list', 'set', 'dict'])
('immutables', ['tuple', 'frozenset'])
('something', ['turtle'])

In [ ]:
for value in collections_map.values():
    print(value)

['list', 'set', 'dict']
['tuple', 'frozenset']

- Неупорядоченный набор пар ключ-значение
- Быстрое получение значения по ключу
- Быстрая проверка на вхождения ключа в словарь

# 3. Условные операторы
- Выполняем блок кода в зависимости от условия

## 3.1. if

In [ ]:
company = 'google.com'

if 'my' in company:
    print('Условие выполнено')
elif 'google' in company:
    print('Подстрока google найдена в строке')
else:
    print('Подстрока не найдена')

# 4. Циклы

## 4.1. while

In [ ]:
i = 0

while i < 100:
    i += 1

print(i)

100

## 4.2. for

In [ ]:
name = "Alex"

for letter in name:
    print(letter)

In [ ]:
for i in range(3, 10, 2):
  print(i)

3
5
7
9

In [ ]:
# Оператор break

for i in range(1, 10):

    print(i)

    if i % 5 == 0:
        break

1
2
3
4
5

In [ ]:
# Оператор continue

for i in range(1, 10):

    if i in [3, 4, 5, 6]:
        continue

    print(i)

1
2
7
8
9

## Пример

In [ ]:
# Задача: Найти сумму четных элементов от 0 до 100 включительно

sum = 0

for i in range(0, 101, 2):
    sum += i

print(sum)

2550

# 5. Функции

In [ ]:
def get_seconds(number):
    """Return squared number"""
    number_squared = number ** 2
    return number_squared


print(get_seconds(4))

16

In [ ]:
result = get_seconds(5)
print(result)

25

In [ ]:
# Аннотация типов

def add(x: int, y: int) -> int:
    return x + y

print(add(10, 11))
print(add('still ', 'works')) # Все равно работает

21
still works

In [ ]:
# Передаем в функцию ссылку на объект памяти

def extender(source_list, extended_list):
    source_list.extend(extended_list)


values = [1, 2, 3]
extender(values, [4, 5, 6])

print(values)

[1, 2, 3, 4, 5, 6]

In [ ]:
def replacer(source_tuple, replace_tuple):
    source_tuple = replace_tuple


user_info = ('Guido', '31/01')
replacer(user_info, ('Larry', '27/09'))

print(user_info) # Объект остался неизменным

('Guido', '31/01')

In [ ]:
# Именованные аргументы

def say(first_name, middle_name, second_name):
    print('Hello,', first_name, second_name)

say('Ivan', 'Ivanov', 'ww')
say(first_name='Ivan', second_name='Ivanov', middle_name='ww')

Hello, Ivan ww
Hello, Ivan Ivanov

In [ ]:
# Области видимости

result = 0

def increment():
    result += 1   # Внутри функции нельзя изменять объекты из глобальной области видимости
    return result

print(increment())

In [ ]:
# Аргументы по умолчанию


def my_function(obj='hello, '):
    obj += 'friend'
    print(obj)

my_function()

hello, friend

In [ ]:
def append_one(iterable=[]):   # Изменяемое значение в аргументе по умолчанию
    iterable.append(1)
    return iterable

# print(append_one())

In [ ]:
print(append_one())   # Дефолтное значение изменилось
print(append_one())

[1]
[1, 1]

О чем не поговорили:
- Генераторы
- Декораторы
- Многое другое

# 6. Классы

- Объединение функционала, связанного общей идеей, в одну сущность
- У этой сущности может быть внутреннее состояние и методы

In [ ]:
num = 3

print(type(num))

<class 'int'>

In [ ]:
class Vehicle():
    """docstring"""

    def __init__(self, color, doors, tires):
        """Constructor"""
        self.color = color
        self.doors = doors
        self.tires = tires
    
    def brake(self):
        """
        Stop the car
        """
        print(self.color)
        return "Braking"
    
    def drive(self):
        """
        Drive the car
        """
        return "I'm driving!"

In [ ]:
car = Vehicle("blue", 5, 4)
print(car.color)

truck = Vehicle("red", 3, 6)
print(truck.color)

blue
red

In [ ]:
car = Vehicle("blue", 5, 4)
print(car.brake())
print(car.drive())

truck = Vehicle("red", 3, 6)
print(truck.drive())
print(truck.brake())

blue
Braking
I'm driving!
I'm driving!
red
Braking

# В следующей части

1. Считываение из файлов
2. Библиотека numpy (?)

3. Асимптотики алгоритмов

4. Базовые алгоритмы