In [8]:
!python --version

Python 3.7.13

# 1. Типы данных

## 1.1. int

In [2]:
# Не пишем int x для объявления целого числа
x = 5

print(x)

5

In [4]:
print(type(x))

<class 'int'>

In [5]:
# Больше, Чем int64
y = 2 ** 80

print(y)

1208925819614629174706176

- Динамическая типизация
- Поддерживается длинная арифметика

## 1.2. float

In [9]:
num = 1.5
print(num)

1.5

In [10]:
print(type(num))

<class 'float'>

In [11]:
# Явное приведение типов

num = int(num)

print(num) # Теряем дробную часть вещественного числа
print(type(num))

1
<class 'int'>

In [14]:
# Неявное приведение типов

num = 5
print(num)
print(type(num))

num = num + 1.0
print(num)
print(type(num))

5
<class 'int'>
6.0
<class 'float'>

## 1.3. Логические тип (bool)

In [15]:
x = True

print(x)
print(type(x))

True
<class 'bool'>

In [18]:
x = (12 < 7)

print(x)
print(type(x))

False
<class 'bool'>

In [17]:
x, y, z = True, False, True

print(x and y or z)

True

## Пример

In [ ]:
# Задача: найти расстояние между двумя точками в декартовых координатах

x1, x2 = 0, 0
x2 = 3
y2 = 4

distance = 
print(distance)

О чем не поговорили:
- Комплексные числа
- Байтовые строки
- Объект None

# 2. Коллекции

Sequences:
- Изменяемые (list)
- Неизменяемые (string, tuple)

Sets:
- Изменяемые (set)
- Неизменяемые (frozenset)

Mappings:
- Изменяемые (dict)

## 2.1. list

In [51]:
empty_list = []
empty_list = list()

names = ['Anna', 'Andrey', 'Alexander', 'Oleg']

user_grades = [
    ('Anna', 8),
    ('Andrey', 7)              
]

In [52]:
print(len(names))   # Выполняется за константное время

4

In [53]:
# Индексирование

print(names[1:4:2])    # start, stop, step

['Andrey', 'Oleg']

In [54]:
# Изменяемость

names[2] = 'Ivan'
print(names)

['Anna', 'Andrey', 'Ivan', 'Oleg']

In [55]:
# Добавление элемента в список

names.append('Irina')
print(names)

['Anna', 'Andrey', 'Ivan', 'Oleg', 'Irina']

In [56]:
# Добавление элемента в список

names.extend(['Kirill', 'Alexey'])
print(names)

['Anna', 'Andrey', 'Ivan', 'Oleg', 'Irina', 'Kirill', 'Alexey']

In [ ]:
# Циклы - итерируемые объекты:

for name in names:
    print(name)

In [ ]:
# функция enumerate

for i, name in enumerate(names):
    print(i, name)

## 2.2. tuple

In [ ]:
empty_tuple = ()
empty_tuple = tuple()

In [66]:
second_names = ('Ivanov', 'Petrov')

second_names[1] = 'Sidorov'

## 2.3. string

In [19]:
s1 = 'Привет, '
s2 = 'Мир!'

print(s1 + s2)

Привет, Мир!

In [20]:
print(s1[:3])

При

In [21]:
print(s1 * 3)

Привет, Привет, Привет,

In [22]:
# Неизменяемость

s1 = 'Привет, '
print(id(s1))
s1 = s1 + 'Мир!' # Это уже новая строка
print(id(s1))

139872556943040
139872556942928

In [26]:
# Методы строк

s1 = 'Привет, Приятель'
s2 = '123'

print(s1.lower())
print(s2.isdigit())
print(s1.count('р'))

привет, приятель
True
2

## 2.4. set

In [75]:
# Для хранения объектов в множестве используется функция хеширования

empty_set = set()

number_set = {1, 2, 3, 3, 4, 5}   # элементы - неизменяемые
print(number_set)

{1, 2, 3, 4, 5}

In [76]:
print(2 in number_set)

True

In [85]:
# Добавление элементов

number_set.add(6)
print(number_set)

{1, 2, 3, 4, 5, 6}

In [87]:
# Удаление элементов

number_set.remove(6)
print(number_set)

{1, 2, 3, 4, 5}

In [81]:
first_set = {1, 2, 3, 4, 5}
second_set = {4, 5, 6, 7, 8}

print(first_set | second_set)
print(first_set & second_set)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}

In [82]:
print(first_set - second_set)

{1, 2, 3}

- Неупорядоченный набор уникальных объектов
- Быстрая проверка на вхождения элемента в множество
- Операции над множествами

## 2.5. dict

In [58]:
empty_dict = {}
empty_dict = dict()

In [59]:
collections_map = {
    'mutable': ['list', 'set', 'dict'],
    'immutables': ['tuple', 'frozenset']
}

In [60]:
# Получаем значение по ключу (за константное время)

collections_map['mutable']

['list', 'set', 'dict']

In [61]:
# Проверка, есть ли ключ в словаре

'mutable' in collections_map

True

In [63]:
# Изменение словаря

collections_map['something'] = ['turtle']
print(collections_map)

{'mutable': ['list', 'set', 'dict'], 'immutables': ['tuple', 'frozenset'], 'something': ['turtle']}

In [64]:
# Удаление элемента из словаря

del collections_map['something']
print(collections_map)

{'mutable': ['list', 'set', 'dict'], 'immutables': ['tuple', 'frozenset']}

In [65]:
for key in collections_map:
    print(value)

mutable
immutables

In [68]:
for items in collections_map.items():
    print(items[0], items[1])

mutable ['list', 'set', 'dict']
immutables ['tuple', 'frozenset']

In [69]:
for value in collections_map.values():
    print(value)

['list', 'set', 'dict']
['tuple', 'frozenset']

- Неупорядоченный набор пар ключ-значение
- Быстрое получение значения по ключу
- Быстрая проверка на вхождения ключа в словарь

# 3. Условные операторы
- Выполняем блок кода в зависимости от условия

## 3.1. if

In [ ]:
company = 'google.com'

if 'my' in company:
    print('Условие выполнено')
elif 'google' in company:
    print('Подстрока google найдена в строке')
else:
    print('Подстрока не найдена')

# 4. Циклы

## 4.1. while

In [ ]:
i = 0

while i < 100:
    i += 1

print(i)

## 4.2. for

In [ ]:
name = "Alex"

for letter in name:
    print(letter)

In [34]:
for i in range(3, 10, 2):
  print(i)

3
5
7
9

In [33]:
# Оператор break

for i in range(1, 10):

    print(i)

    if i % 5 == 0:
        break

1
2
3
4
5

In [35]:
# Оператор continue

for i in range(1, 10):

    if i in [3, 4, 5, 6]:
        continue

    print(i)

1
2
7
8
9

## Пример

In [ ]:
# Задача: Найти сумму четных элементов от 0 до 100 включительно

sum = 0

# 5. Функции

In [90]:
def get_seconds(number):
    """Return squared number"""
    return number ** 2


print(get_seconds(4))

16

In [91]:
# Аннотация типов

def add(x: int, y: int) -> int:
    return x + y

print(add(10, 11))
print(add('still ', 'works')) # Все равно работает

21
stillworks

In [93]:
# Передаем в функцию ссылку на объект памяти

def extender(source_list, extended_list):
    source_list.extend(extended_list)


values = [1, 2, 3]
extender(values, [4, 5, 6])

print(values)

[1, 2, 3, 4, 5, 6]

In [94]:
def replacer(source_tuple, replace_tuple):
    source_tuple = replace_tuple


user_info = ('Guido', '31/01')
replacer(user_info, ('Larry', '27/09'))

print(user_info) # Объект остался неизменным

('Guido', '31/01')

In [97]:
# Именованные аргументы

def say(first_name, second_name):
    print('Hello,', first_name, second_name)

say('Ivan', 'Ivanov')
say(first_name='Ivan', second_name='Ivanov')

Hello, Ivan Ivanov
Hello, Ivan Ivanov

In [ ]:
# Области видимости

result = 0

def increment():
    result += 1   # Внутри функции нельзя изменять объекты из глобальной области видимости
    return result

print(increment())

In [101]:
# Аргументы по умолчанию


def append(obj='hello, '):
    obj += 'friend'
    print(obj)

append()

hello, friend

In [104]:
def append_one(iterable=[]):   # Изменяемое значение в аргументе по умолчанию
    iterable.append(1)
    return iterable

print(append_one([1]))

[1, 1]

In [105]:
print(append_one())   # Дефолтное значение изменилось
print(append_one())

[1]
[1, 1]

О чем не поговорили:
- Генераторы
- Декораторы
- Многое другое

# 6. Классы

- Объединение функционала, связанного общей идеей, в одну сущность
- У этой сущности может быть внутреннее состояние и методы

In [110]:
num = 3

print(type(num))

<class 'int'>

In [112]:
class Vehicle(object):
    """docstring"""
 
    def __init__(self, color, doors, tires):
        """Constructor"""
        self.color = color
        self.doors = doors
        self.tires = tires
    
    def brake(self):
        """
        Stop the car
        """
        return "Braking"
    
    def drive(self):
        """
        Drive the car
        """
        return "I'm driving!"

In [113]:
car = Vehicle("blue", 5, 4)
print(car.color)

truck = Vehicle("red", 3, 6)
print(truck.color)

blue
red

In [115]:
car = Vehicle("blue", 5, 4)
print(car.brake())
print(car.drive())

truck = Vehicle("red", 3, 6)
print(truck.drive())
print(truck.brake())

Braking
I'm driving!
I'm driving!
Braking

# В следующей части

1. Считываение из файлов
2. Библиотека numpy (?)

3. Асимптотики алгоритмов

4. Базовые алгоритмы